.header {
    margin: 2rem 0;
}

.profile_pane {
    display: flex;
    padding-inline: 2rem;
    justify-content: space-between;
    align-items: center;
    border-radius: .75rem;
    padding: .5rem .75rem;
    background-color: #FFB800;
}

.profile_photo_wrapper {
    width: 12rem;
    height: 12rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_photo_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.name,
.socials_header {
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
    margin: .5rem 0;
    width: 100%;
}

.profile_details_group {
    margin: .75rem 0;
}

.name {
    text-transform: uppercase;
}

.socials_header {
    font-size: 1rem;
}

.tags {
    font-size: x-small;
    font-weight: bold;
}

.profile_detail_socials img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .75rem;
}

@media screen and (min-width: 768px) {
    .profile_pane {
        background-color: transparent;
        padding: 0;
    }
    .profile_photo_wrapper {
        background-color: #FFB800;
        padding: 1rem;
        border-radius: .75rem;
        margin: 1.5rem;
    }
    .profile_details {
        border-radius: .5rem;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}