#root {
    font-family: "Cascadia Code";
    color: #fff
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background-color: #131313;
    padding: 3rem 4.5rem;
    /* height: 100vh; */
    /* width: 100vw; */
}

.Main_Heading h1 {
    margin-bottom: 1rem;
    font-family: inter;
    font-weight: 900;
    font-size: 2.5rem;
    font-style: italic;
    letter-spacing: -1px;
}

.text-group {
    margin: 3rem 0;
}

.text-group-algo {
    background-color: #C76BFF;
    padding: 1rem;
    border-radius: .5rem;
    margin: 2rem 0;
}

h2 {
    margin-bottom: 1rem;
}

p {
    font-weight: 300;
    line-height: 1.8;
}

.algo {
    color: #FFC225;
}

.highlight {
    font-size: x-small;
    background-color: #1E1E1E;
    padding: .95rem .5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}

.footer-heading {
    font-weight: bolder;
    font-size: 1.8rem;
    letter-spacing: -1px;
    text-align: center;
    color: #1E1E1E;
    margin-top: 4rem;
}

.link-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
}

.link-group-short-links {
    flex-direction: row;
}

.content-copy-icon {
    width: 1rem;
    height: 1rem;
}

@media screen and (min-width: 768px) {
    .head-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        margin-bottom: 3rem;
        position: relative;
    }
    .head-section::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ffffff28;
    }
    .Main_Heading {
        margin-right: 15rem;
    }
    .Main_Heading h1 {
        font-size: 4rem;
    }
    .instructions-group {
        display: flex;
        justify-content: space-between;
    }
    .text-group-algo:first-child {
        margin-right: 2rem;
    }
}